

h1{
  background-color: #E74C3C;
color: white;
height: 50px;
margin: 10px;
text-align: center;
padding: 2px;
border: 2px solid black;
font-family: 'Abel', sans-serif;
}
h3{
  font-family: 'Abel', sans-serif;
  border: 2px solid black;
margin: 10px;
height: 50px;
}
.parrafo1 h2{
  background-color: #9B59B6;
text-align: center;
font-size: 20px;
font-family: 'Abel', sans-serif;
margin: 5px;
color: white;
padding: 2px;
}

.parrafo1 p{
  background-color: #9B59B6;
text-align: center;
font-size: 15px;
font-family: 'Abel', sans-serif;
margin: 5px;
color: white;
padding: 5px;
}
.parrafo1{
    padding-top:63px;
  border: solid 2px black;
}
.parrafo1 img{
  margin: 5px;
  width:97.5%;
}

.parrafo2 h2{
  background-color: #1ABC9C;
text-align: center;
font-size: 20px;
font-family: 'Abel', sans-serif;
margin: 5px;
color: white;
padding: 2px;
}

.parrafo2 p{
  background-color: #1ABC9C;
text-align: center;
font-size: 15px;
font-family: 'Abel', sans-serif;
margin: 5px;
color: white;
padding: 5px;
}
.parrafo2{
  padding-top:70px;
  border: solid 2px black;
}
.parrafo2 img{
  margin: 5px;
  width:97.5%;
}
.parrafo3 h2{
  background-color:  #F1C40F;
text-align: center;
font-size: 20px;
font-family: 'Abel', sans-serif;
margin: 5px;
color: white;
padding: 2px;
}

.parrafo3 p{
  background-color:  #F1C40F;
text-align: center;
font-size: 15px;
font-family: 'Abel', sans-serif;
margin: 5px;
color: white;
padding: 5px;
}
.parrafo3{

  border: solid 2px black;
}
.parrafo3 img{
  margin: 5px;
  width:97.5%;
}
footer{
background-color: #E74C3C;
color: white;
height: 25px;
width: 98.5%;
margin: 10px;
text-align: center;
padding: 2px;
border: 2px solid black;
font-family: 'Abel', sans-serif;
}
